<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">MineDev</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="http://minedev.dothome.co.kr">Home</a></li>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Android Apps</h1>
            <ul class="mdl-mega-footer__link-list">
                <?php
                    $apps = json_decode(file_get_contents(str_replace(basename(__FILE__), '', realpath(__FILE__)) . 'apps.json'), true);
                    foreach ($apps as $name => $app) {
                        if ($app['type'] === 'android') {
                            $links = $app['links'];
                            if (count($links) === 0) {
                                echo '<li><a href="#">' . $name . '</a></li>';
                            } else {
                                echo '<li><a href="' . $links[0]['url'] . '">' . $name . '</a></li>';
                            }
                        }
                    }
                ?>
            </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Web Apps</h1>
            <ul class="mdl-mega-footer__link-list">
                <?php
                    foreach ($apps as $name => $app) {
                        if ($app['type'] === 'web') {
                            $links = $app['links'];
                            if (count($links) === 0) {
                                echo '<li><a href="#">' . $name . '</a></li>';
                            } else {
                                echo '<li><a href="' . $links[0]['url'] . '">' . $name . '</a></li>';
                            }
                        }
                    }
                ?>
            </ul>
        </div>

    </div>
</footer>

<footer class="mdl-mini-footer mdl-color--grey-900" style="padding-left: 40px; padding-right: 40px;">
<div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Copyright 2016-2017&nbsp;<a class="mdl-color-text--grey-100" href="https://github.com/Astro36">Astro</a>. All rights reserved.</div>
        </div>
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="index.php">Home</a></li>
                <li><a href="javascript:scrollTo('#top');">Back to Top</a></li>
            </ul>
        </div>
</footer>