<meta name="theme-color" content="#212951">
<meta name="msapplication-navbutton-color" content="#212951">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="stylesheet" href="assets/material.css">